body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: rgb(10, 17, 22);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    /* width: 60vw;
    height: 60vh; */
    background-color: rgb(27, 45, 63);
    border-radius: 5%;
}

#outer {
    box-shadow: 1vw 1vh 3vh black;
}

#main {
    display:flex;
    border-radius: 2%;
    width: 70vw;
    height: 55vh;
    background-color: rgb(0, 0, 0);
    box-shadow: .5vw .5vh rgb(20, 31, 39) inset
    
    
}
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 10vh;
    border-radius: 100%;
    margin-top: 0;
    background-color: rgb(85, 90, 94);
    box-shadow: 1vw 1vh 2vh rgb(20, 31, 39)
    
}